.basic-data {
	min-height: 500px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.basic-data > * {
	flex: 1 1 25%;
}

.col {
	padding: 3em;
	box-shadow: 0.15em 0.15em 0.1em 0.1em rgba(0, 0, 0, 0.4);
	background-color: rgba(43, 43, 43, 0.8);
	backdrop-filter: blur(5px);
	border-radius: 0.5em;
}

div > p {
	margin: 0;
}