.data-header {
	background-color: #7770;
	padding: 10px;
	gap: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
    position: fixed;
    z-index: 100;
	
}

.data-header > * {
	flex: 1 1 32%;
	text-align: center;
}

.data-header > h3 {
	/* box-shadow: 0 0 0 1px rgb(29, 29, 29); */
	padding: 1em;
	/* background-color: rgba(117, 58, 172, 0.8); */
	box-shadow: 0.15em 0.15em 0.1em 0.1em rgba(0, 0, 0, 0.4);
	/* background-color: rgba(43, 43, 43, 0.8); */
	background-color: rgba(160, 110, 207, 0.8);
	backdrop-filter: blur(5px);
	border-radius: 0.5em;
	backdrop-filter: blur(5px);
	border-radius: 0.5em;
	color: white;
	font-size: large;
}

