.loginScreen {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.loginScreen > h1 {
	margin-top: -2em;
	margin-bottom: 0;
}

.login-mix {
	background-color: #7770;
	padding: 10px;
	gap: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.login-mix > * {
	align-self: center;
}
